body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner section  */
.banner {
    background-image: url(../images/banner/banner3.png);
    height: 930px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.b_content {
    padding-top: 215px;
    text-align: right;
}

.b_content h2 {
    margin-left: 55%;
    font-size: 65px;
    color: white;
    margin-bottom: 24px;
}

.b_content p {
    margin-left: 68%;
    color: white;
    margin-bottom: 32px;
}

.b_content button {
    color: #005FAC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    background-color: white;
}

.b_content button:hover {
    color: black;
}

/* banner section end  */


/* failures section start */
.failures {
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: 130px;
}

.fail_img {
    width: 50%;
    float: left;
}

.fail_img img {
    width: 100%;
    float: left;
}

.fail_cont {
    width: 40%;
    float: right;
    padding-top: 385px;
}

.fail_cont ul {
    padding-left: 0;
}

.fail_cont ul li {
    list-style: none;
    line-height: 40px;
}

.fail_cont h2 {
    margin-right: 40%;
    font-size: 40px;
    margin-bottom: 24px;
}

.fail_cont p {
    margin-right: 33%;
    margin-bottom: 16px;
}

/* failures section end */


/* My Plans section start */
.my_plan {
    padding-bottom: 130px;
}

.my_plan h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.single_parent {
    overflow: hidden;
}

.single {
    width: 20%;
    float: left;
    margin-right: 6%;
}

.single:last-child {
    margin-right: 0;
}

.single h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

.single h5 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #737272;
}

.s_img {
    width: 30%;
    margin: 0 auto;
}

.s_img img {
    width: 100%;
}

/* coll now section */

.Input{
    width: 100%;
    padding: 15px 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
}

.submit{
    background-color: #005FAC;
    padding: 8px 30px;
    color: white;
    border-radius: 5px;
}
.text_center{
    text-align: center;
    font-size: 48px;
}





/* coll now section */

footer {
    padding: 80px 0;
    background-color: #151414;
}

.footer_content {
    overflow: hidden;
}

.f_left {
    width: 40%;
    float: left;
}

.f_left h2 {
    font-size: 45px;
    color: white;
}

.f_text {
    margin-right: 20%;
    color: white;
    line-height: 28px;
}

.f_email {
    color: white;
}

.f_phone {
    color: white;
}

.social_icon {
    overflow: hidden;
}

.social_icon li {
    list-style: none;
    float: left;
    margin-right: 30px;

}

.social_icon li:hover i {
    color: #005FAC;

}

.social_icon li a i {
    transition: .3s;
}

.social_icon li a i {
    color: white;
    font-size: 30px;
}

.f_right {
    float: right;
}

.f_right h4 {
    font-size: 25px;
    color: white;
}

.f_right input {
    width: 325px;
    height: 14px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.f_right button {
    margin-top: 25px;
    padding: 20px 30px;
    font-size: 20px;
    color: white;
    background-color: #005FAC;
    border: none;
    border-radius: 5px;
    transition: .5s;
}

.f_right button:hover {
    color: #005FAC;
    background-color: white;
}